<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">cloudkitchenweb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="FoodList" routerLinkActive="active-link">FoodList</a>
          </li>
          <li class="nav-item">
            <a routerLink="FoodWheel">Spin the Food Wheel!<i class="bi bi-arrow-right"></i></a>
          </li>
          <li class="nav-item">
            <a routerLink="FoodTags">Search up Tags!<i class="bi bi-arrow-right"></i></a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>